# the usual culprits
/node_modules
.DS_Store
/*/*/node_modules

# personal local files
/configuration.js
/configuration.sh
/fiddle.js

# globbed things
globbed-*.js

# built things
/dist
/example/build
/definitions/*/README.md
