# the usual culprits
/node_modules
.DS_Store
/*/*/node_modules

# personal local files
/configuration.js
/configuration.sh
/fiddle.js

# built things
/*/*/LICENSE.md
/*/*/README.md
/*/*/index.js
/*/*/dist
/controller/*/package.json
/definition/*/package.json
/package/*/package.json
